body{
    /*display:flex;*/
    overflow:hidden;
    display: block;
    background-color: #ff4949 ;

}
.container>div{
    position:absolute;
    width: 700px;
    height: 550px;
    border-radius: 5%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(45, 132, 171);
    box-shadow:  18px 18px 36px #226482,
    -18px -18px 36px #38a4d4;
}
.form-group{
    position: relative;
    margin: 30px;
    top: 60px;
    width: 320px;
    left: 315px;
}
.btn-primary{
    position: relative;
    margin: 25px;
    top: 100px;
    width: 90px;
    left: 315px;
}
img{
    position: relative;
    margin: 20px;
    bottom: 350px;
    width: 310px;
    height: 380px;
}
p{
 position: relative;
    left: 49%;
    bottom: 100%;
}

.logIn{
    position: relative;
    left: 330px;
    top: 20px;
    color: #ffffff;
    font-family: "Arial,San";
}

.socialIcon{
    position: relative;
    left: 500px;
    bottom: 40px;
}

/*register-form*/

.containerSignIn{
    position:absolute;
    width: 700px;
    height: 550px;
    border-radius: 5%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(221, 2, 2);
    box-shadow:  18px 18px 36px #b80000,
    -18px -18px 36px #f43030;
}

.form-group2{
    position: relative;
    margin: 30px;
    top: 30px;
    width: 320px;

}
.signForm>h2{
    position: relative;
    color: white;
}
